@using Compartido.Modelo;
@{
    ViewBag.Titulo = "Pagos";
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
        <form class="row justify-content-center" action="@Url.Action("Pagar", "Administrar")" method="post">
            <h2>Lista de empleados a pagar</h2>
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Código de empleado</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Última fecha de pago</th>
                        <th scope="col">Salario básico</th>
                        <th scope="col">Comisiones</th>
                        <th scope="col">Salario más comosión</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var pagos = (List<PagoEmpleados>)ViewBag.Pagos; }
                    @foreach (var pago in pagos) {
                        <tr>
                            <td>@pago.Codigo</td>
                            <td>@pago.Nombres</td>
                            <td>@pago.Apellidos</td>
                            <td>@pago.Apellidos</td>
                            <td>@pago.UltimaFechaPago</td>
                            <td>@pago.SalarioBasico</td>
                            <td>@pago.Comisiones</td>
                            <td>@pago.SalarioComisiones</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Pagar</button>
            <
        </form>
    </div>
</div>