@using Compartido.Modelo;
@{
    ViewBag.Titulo = "Ver Empleados";
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10">
        <h2>Lista de empleados</h2>
        <table class="table table-sm table-dark">
            <thead>
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">T.Documento</th>
                    <th scope="col">N.Documento</th>
                    <th scope="col">Género</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">N.Celular</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Nombre de Usuario</th>
                </tr>
            </thead>
            
            <tbody>
                @{var empleados = (List<Empleado>)ViewBag.Empleados; }
                @foreach (var empleado in empleados) {
                    <tr>
                        <td>@empleado.Nombres</td>
                        <td>@empleado.Apellidos</td>
                        <td>@empleado.Persona.TiposDeDocumento.NombreCorto</td>
                        <td>@empleado.Persona.NumeroDocumento</td>
                        <td>@empleado.Persona.Generos.Nombre</td>
                        <td>@empleado.Dirreccion</td>
                        <td>@empleado.Celular</td>
                        <td>@empleado.Email</td>
                        <td>@empleado.Edad</td>
                        <td>@empleado.NombreUsuario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>